@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 60% 99%;
    --foreground: 0 0% 18%;

    --btnbackground: 353 100% 97%;
    --btnactivebg: 353, 100%, 98%;
    --btnactivetext: 0 0% 35%;
    --cardbordercolor: 0 0% 98%;
    --cardradialgradientbg: 45 12% 93%;
    --darkercolor: 60 4% 84%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0, 0%, 99%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 39, 31%, 82%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --tags: 174, 62%, 38%;
    --tagsborder: 220, 13%, 91%;
    --tagshover: 217, 19%, 27%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 170 41% 3%;
    --foreground: 170 22% 100%;

    --btnbackground: 243, 72%, 6%;
    --btnactivebg: 245, 73%, 17%;
    --btnactivetext: 170 22% 100%;
    --cardbordercolor: 240 1% 10%;
    --cardradialgradientbg: 197 100% 27%;
    --darkercolor: 0 0% 0%;

    --muted: 170 5% 11%;
    --muted-foreground: 170 6% 62%;
    --popover: 170 41% 3%;
    --popover-foreground: 170 22% 100%;
    --card: 170 41% 4%;
    --card-foreground: 0 0% 100%;
    --border: 170 10% 14%;
    --input: 170 10% 14%;
    --primary: 170 91% 46%;
    --primary-foreground: 170 91% 6%;
    --secondary: 170 19% 8%;
    --secondary-foreground: 170 19% 68%;
    --accent: 243, 72%, 6%;
    --accent-foreground: 168 52% 67%;
    --destructive: 21 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 170 91% 46%;
    --tags: 172, 63%, 59%;
    --tagsborder: 220, 67%, 20%;
    --tagshover: 220, 13%, 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* globals.css */

.font-syne {
  font-family: "Syne", sans-serif;
}

.font-kanit {
  font-family: "Kanit", sans-serif;
}
.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: auto;
}

#neat-link,
#FZo4uv {
  display: none !important;
  visibility: hidden !important;
}

.no-scroll {
  overflow: hidden;
}

.card-radial-gradient {
  opacity: 0.5;
  background-image: radial-gradient(circle at center center, #e5ebe4, #f0efec),
    repeating-radial-gradient(
      circle at center right,
      #e5ebe4,
      #e5ebe4,
      18px,
      transparent 36px,
      transparent 18px
    );
  background-blend-mode: multiply;
}

.icon-small {
  width: 16px;
  height: 16px;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
}

.icon-medium {
  width: 24px;
  height: 24px;
}

.icon-large {
  width: 32px;
  height: 32px;
}

.halo-1 {
  position: absolute;
  width: 256px;
  height: 256px;
  background: radial-gradient(
    circle,
    rgba(147, 51, 234, 0.5),
    rgba(0, 0, 0, 0)
  );
  border-radius: 50%;
  filter: blur(3xl);
}

.halo-2 {
  position: absolute;
  width: 384px;
  height: 384px;
  background: radial-gradient(
    circle,
    rgba(255, 235, 59, 0.5),
    rgba(0, 0, 0, 0)
  );
  border-radius: 50%;
  filter: blur(3xl);
  margin-top: 6rem; /* Adjust this to position the second halo */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* **** SCROLL SNAPPING EFFECT

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
}

 **** */
.modal-description::-webkit-scrollbar {
  width: 4px;
  z-index: 20;
}

.modal-description::-webkit-scrollbar-track {
  background: #f1f1f1;
  z-index: 20;
}

.modal-description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  z-index: 20;
}

.modal-description::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  z-index: 20;
}
