@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 60% 99%;
    --foreground: 0 0% 18%;

    --btnbackground: 45 12% 93%;
    --cardbordercolor: 0 0% 98%;
    --cardradialgradientbg: 45 12% 93%;
    --darkercolor: 60 4% 84%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0, 0%, 99%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 39, 31%, 82%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 170 41% 3%;
    --foreground: 170 22% 100%;

    --btnbackground: 180 70% 12%;
    --cardbordercolor: 240 1% 10%;
    --cardradialgradientbg: 180 70% 26%;
    --darkercolor: 0 0% 0%;

    --muted: 170 5% 11%;
    --muted-foreground: 170 6% 62%;
    --popover: 170 41% 3%;
    --popover-foreground: 170 22% 100%;
    --card: 170 41% 4%;
    --card-foreground: 0 0% 100%;
    --border: 170 10% 14%;
    --input: 170 10% 14%;
    --primary: 170 91% 46%;
    --primary-foreground: 170 91% 6%;
    --secondary: 170 19% 8%;
    --secondary-foreground: 170 19% 68%;
    --accent: 170 28% 18%;
    --accent-foreground: 170 28% 78%;
    --destructive: 21 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 170 91% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: auto;
}

#neat-link {
  display: none !important;
}

.card-radial-gradient {
  opacity: 0.5;
  background-image: radial-gradient(circle at center center, #e5ebe4, #f0efec),
    repeating-radial-gradient(
      circle at center right,
      #e5ebe4,
      #e5ebe4,
      18px,
      transparent 36px,
      transparent 18px
    );
  background-blend-mode: multiply;
}

/* **** SCROLL SNAPPING EFFECT **** */

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
}
